# Rust/Cargo build artifacts (These get huge and are machine-specific)
/target/

# Nix build symlinks
result
result-*

# Local developer environment variables & caches
.direnv/

# Editor/OS temporary files
*.swp
*.bak
.DS_Store
